.App {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-radius: 2px;
  background-color: antiquewhite;
  font-size: 19px;
  align-items: center;
}

.form-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: beige;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.form-container input[type="text"] {
  margin-right: 10px;
  padding: 10px;
  background-color: rgb(252, 253, 255);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  border: 2px solid white;
}

.form-container input[type="text"]:first-child {
  margin-left: 50px;
}

.form-container button {
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;
  background-color: coral;
  border-radius: 3px;
  color: white;
  border: 2px solid white;
}

.progress-container {
  font-size: 30px;
  margin-bottom: 200px;
}

.complete-container {
  font-size: 30px;
}

.todos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 30px;
}

.todoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  min-width: 200px;
  border-radius: 5px;
  background-color: rgb(191, 212, 250);
  overflow: hidden;
  padding: 10px;
}

.todoCard div {
  word-break: break-all;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.todos button {
  padding: 10px;
  background-color: coral;
  border-radius: 3px;
  color: white;
  border: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
