.App {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-radius: 2px;
  background-color: antiquewhite;
  font-size: 19px;
  align-items: center;
}

.form-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: beige;
  border-radius: 5px;
  display: flex;
  flex-direction: row; /* 가로 방향 배치 */
  align-items: center; /* 세로 중심 정렬 */
  margin-top: 20px;
}

.form-container input[type="text"] {
  margin-right: 10px; /* 제목과 내용 사이 간격 */
  padding: 10px;
  background-color: rgb(252, 253, 255);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  border: 2px solid white;
}

.form-container input[type="text"]:first-child {
  margin-left: 50px; /* 첫 번째 입력 필드 왼쪽 여백 */
}

.form-container button {
  margin-left: auto; /* 버튼을 오른쪽으로 밀어내기 */
  margin-right: 10px; /* 버튼 오른쪽 여백 */
  padding: 10px;
  background-color: coral;
  border-radius: 3px;
  color: white;
  border: 2px solid white;
}

.progress-container {
  font-size: 30px;
  margin-bottom: 200px;
}

.complete-container {
  font-size: 30px;
}

.todos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.todoCard {
  height: 200px;
  width: 200px;
  border-radius: 2px;
  background-color: cornflowerblue;
}

.todoCard div {
  word-break: break-all;
}
